* {
    margin:0;
    padding:0;
}

body{
    background-color: rgb(124,185,232);
}

.header{
    text-align: center;
    padding: 3em;
}

.quote-generator{
    text-align: center;
    margin : 2em;
}

.quote-generator__random-quote{
    padding: 2em;
    color:white;
    font-size: 2em;
}

.quote-generator__form{
    margin : 2em;
    font-weight: bold;
}

.quote-generator__button{
    padding: 0 1em;
    margin:0 1em;
}