* {
    margin:0;
    padding:0;
    font-family:sans-serif;
}

body{
    background-color: rgb(124,185,232);
}

.header{
    text-align: center;
    padding: 3em;
}

.quote-generator{
    text-align: center;
    margin : 2em;
}

.quote-generator__random-quote{
    font-family: Helvetica;
    padding: 2em;
    color:white;
    font-size: 2em;
}

.quote-generator__random-quote div{
  margin: 1em;
}

.quote-generator__form{
    margin : 2em;
    font-weight: bold;
}

.quote-generator__button{
    padding: 10px 24px;
    margin:0 10px;
    background-color: #555555;
    border:none;
    color: white;
}
